


header {
    background-color: #141C1D;
    text-align: center;
}

#logo {
    font-family: ;
    font-size: ;
    color: #9ddb0a;
}


#wrapper {
   background-color: #39406c;
   align-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;

}

footer {
    background-color: #b4bade;
}

#screen {
    display: flex;
    background-color: #9ddb0a;
    flex-direction: column;
    align-items: center;
    max-height: 65%;
    padding: 5px;
    /* max-width: 70%; */

}

#score {
    font-family: ;
    font-size: ;
    width: 100%;
    position: relative;
}

hr {
    width: 100%;
    color: #283c01;
    border-width: 2px;
}

#snakeboard {
    background-color: #9ddb0a;
    border: 3px solid #283c01;
}

/* CSS to style the modal for high scores */


